:root {
  --blue: #1375b7;
  --red: #c93135;
  --light-gray: #d3d3d3;
  --mid-gray: #6a6c6e;
}
/* Franklin Regular */
@font-face {
  font-family: 'Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Franklin'), url(./fonts/franklin-normal-400.woff) format('woff');
}
/* Franklin Medium */
@font-face {
  font-family: 'Franklin';
  font-style: normal;
  font-weight: 500;
  src: local('Franklin'), url(./fonts/franklin-normal-500.woff) format('woff');
}

/* Franklin Semibold */
@font-face {
  font-family: 'Franklin';
  font-style: normal;
  font-weight: 600;
  src: local('Franklin'), url(./fonts/franklin-normal-600.woff2) format('woff2');
}

/* Franklin Bold */
@font-face {
  font-family: 'Franklin';
  font-style: normal;
  font-weight: 700;
  src: local('Franklin'), url(./fonts/franklin-normal-700.woff2) format('woff2');
}

body {
  font-family: 'Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.svg-wrapper {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
}

.svg-wrapper {
  flex: 1;
  max-width: 1280px;
}

#title {
  font-size: 1.75rem;
}

#description {
  font-size: 1.25rem;
}

.tooltip {
  text-align: left;
  padding: 0.5rem;
  position: absolute;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: white;
  pointer-events: none;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.tooltip footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.375rem;
  gap: 0.125rem;
}
#county-tooltip footer {
  font-size: 11px;
}
.tooltip footer :first-child {
  font-weight: bold;
}
.tooltip__table {
  border-collapse: collapse;
  font-weight: 500;
}

.tooltip__table .candidate {
  white-space: nowrap;
}

.tooltip__table tr:not(:first-of-type),
.tooltip__table thead tr {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.tooltip__table tr:first-child {
  border-top: none;
}

.tooltip__table th,
td.party,
.tooltip footer :last-child {
  color: var(--mid-gray);
  font-weight: 500;
  font-size: 11px;
}
td.percentage {
  font-weight: bold;
}
td.winner > div {
  font-weight: 500;
}
#state-tooltip td.winner > div {
  color: white;
  display: flex;
  align-items: center;
  gap: 2px;
}
td.winner .checkmark {
  display: flex;
}
td.electoral {
  text-align: center;
}

#state-tooltip td.winner.dem {
  background-color: var(--blue);
}

#state-tooltip td.winner.rep {
  background-color: var(--red);
}

td.dem,
td.rep {
  position: relative;
}

td.dem::before,
td.rep::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--blue);
}
td.rep::before {
  background-color: var(--red);
}
.tooltip__table td,
.tooltip__table th {
  padding: 0.375rem 0.5rem 0.375rem 0.25rem;
}

#state-tooltip .tooltip__table td.candidate.winner {
  padding: 0.375rem 0.5rem 0.375rem 0.125rem;
}

#state-tooltip th:nth-child(2),
td:nth-child(2) {
  padding-left: 0.5rem;
}

.tooltip__table td.candidate {
  padding: 0.375rem 0.5rem 0.375rem 0.5rem;
}

.tooltip__table th:first-child {
  padding: 0.375rem 0;
}
tr {
  box-sizing: border-box;
}

.tooltip__heading {
  font-weight: 700;
  font-size: 15px;
}

.state-wrapper,
.county {
  cursor: pointer;
}

.state-wrapper.active {
  pointer-events: none;
  visibility: hidden;
}

.state.dem {
  fill: var(--blue);
}

.state.gop {
  fill: var(--red);
}

.state.dem.flip {
  fill: url(#dem-flip);
}

.state.gop.flip {
  fill: url(#gop-flip);
}

.state-name {
  fill: white;
  font-size: 12px;
  font-family: 'Franklin', sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.source {
  text-align: right;
  margin-top: 32px;
}

.tick {
  font-size: 0.75rem;
}

#zoom-controls {
  position: absolute;
  top: 2rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.zoom-control {
  background: #999;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.zoom-control:not(:disabled) {
  cursor: pointer;
}

.zoom-control:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
