:root {
  --blue: #1375b7;
  --red: #c93135;
}

body {
  background-color: #e5e2e0;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3rem;
}

.svg-wrapper,
#tooltip {
  background-color: white;
  padding: 2rem 4rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.svg-wrapper {
  flex: 1;
  max-width: 1024px;
}

#title {
  font-size: 1.75rem;
}

#description {
  font-size: 1.25rem;
}

#tooltip {
  padding: 0.5rem;
  position: absolute;
  transition: opacity 0.2s, visibility 0.2s;
  font-size: 0.75rem;
  color: white;
  background-color: black;
  text-align: center;
}

.state-wrapper,
.county {
  cursor: pointer;
}

.state-wrapper.active {
  pointer-events: none;
  visibility: hidden;
}

.state.dem {
  fill: var(--blue);
}

.state.gop {
  fill: var(--red);
}

.state.dem.flip {
  fill: url(#dem-flip);
}

.state.gop.flip {
  fill: url(#gop-flip);
}

.state-name {
  fill: white;
  font-size: 13px;
}

.source {
  text-align: right;
  margin-top: 32px;
}

.tick {
  font-size: 0.75rem;
}
